[submodule "upx/upx-stubtools"]
	path = upx/upx-stubtools
	url = https://github.com/enhao/upx-stubtools.git
[submodule "upx/upx-lzma-sdk"]
	path = upx/upx-lzma-sdk
	url = https://github.com/enhao/upx-lzma-sdk.git
